<h2>About Us</h2>
<p>More to follow</p>

<div id="theForm">
    <form>
        <label>Your Name:</label>
        <br />
        <input />
        <br />
        <label>Email:</label>
        <br />
        <input type="email" />
        <br />
        <label>Subject:</label>
        <br />
        <input type="text" />
        <br />
        <label>Message:</label>
        <br />
        <textarea rows="4"></textarea>
        <br />
        <input type="submit" value="Send Message" />
    </form>
</div>